{% extends "layout.html" %}
{% block title %}Comunities{% endblock %}
{% block content %}
    <div class="col-6 col-lg-offset-3">
        <form method="post" onSubmit="return confirm('Are you sure you wish to delete?');">
            <table class="table ">
                <tr>
                    <th class="col-3">Name</th>
                    <th class="col-2" colspan="2">Color</th>
                    <th class="col-1">Delete</th>
                </tr>
                {% for community in communities %}
                    <tr>
                        <td class="col-3">{{ community.name }}</td>
                        <td class="col-1" style="background-color:{{ community.color }}; width: 10px"></td>
                        <td class="col-1">{{ community.color }}</td>
                        <td class="col-1">
                            {% if community.deletable %}
                                <button name="delete" value="{{ community.name }}"
                                        class="glyphicon glyphicon-remove-circle"></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <br>
    <div class="col-10 col-lg-offset-2">
        <form method="post" class="form-group">
            <label>
                Name:
                <input type="text" name="name">
            </label>
            <br>
            <label>
                Color:
                <input type="color" name="color">
            </label>
            <br>
            <input type="submit" value="Add">
        </form>
    </div>
{% endblock %}