{% extends "layout.html" %}
{% block title %}Meeting{% endblock %}
{% block content %}
    <div class="col-6 col-lg-offset-3">
        <form method="post" onSubmit="return confirm('Are you sure you wish to delete?');">
            <table class="table js-sort-table">
                <thead>
                <tr>
                    <th class="col-1  js-sort-number js-sort-0">ID</th>
                    <th class="col-2 js-sort-date">Date</th>
                    <th class="col-1">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    <tr class="rounded-pill border" onclick="document.location='/meetings/{{ meeting.id }}'">
                        <td class="col-3">{{ meeting.id }}</td>
                        <td class="col-1">{{ meeting.date|date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <br>
    <div class="col-10 col-lg-offset-2">
        <form method="post" class="form-group">
            <label>
                Date:
                <input type="date" name="date_value">
            </label>
            <br>
            <input type="submit" name="date" value="add">
            <input type="submit" name="date" value="now">
        </form>
    </div>
{% endblock %}