{% extends "layout.html" %}
{% block title %}Player{% endblock %}
{% block content %}
    <div class="col-6 col-lg-offset-3">
        <form method="post" onSubmit="return confirm('Are you sure you wish to delete?');">
            <table class="table ">
                <tr>
                    <th class="col-3">Name</th>
                    <th class="col-2">Community</th>
                    <th class="col-1">Delete</th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td >{{ player.name }}</td>
                        <td >{{ player.community.name }}</td>
                        <td>
                            <button name="delete" value="{{ player.name }}"
                                    class="glyphicon glyphicon-remove-circle"></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <br>
    <div class="col-2 col-lg-offset-2">
        {% if communities %}
            <form method="post" class="form-group">
                <label>
                    Member name:
                    <input type="text" name="name">
                </label>
                <br>
                <label>
                    Community:
                    <select name="community">
                        {% for community in communities %}
                            <option value="{{ community.id }}"> {{ community.name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <br>
                <input type="submit" value="Add">
            </form>
        {% endif %}
    </div>
{% endblock %}